@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-black-primary;
    @apply font-arial;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .grid-qr {
    display: grid;
    grid-template-columns: repeat(3, 104px);
    row-gap: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 32px;
    box-sizing: border-box;
  }

  .grid-faq {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-footer {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto, 1fr));
    gap: 48px 24px;
  }
}
